html {
  scroll-behavior: smooth;
  background-color: rgb(140, 158, 158);
}

header {
  position: fixed;
  top: 0;
  width: 100%
}

ul {
  width:100vw;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

#home {
  text-align: center;
  border: solid 1px black;
  width: 100vw;
  height: 100vh;
}

#home img {
  width:400px;
}

#about {
  text-align: center;
  border: solid 1px black;
}

#art {
  text-align: center;
  border: solid 1px black;
}

.product {
  text-align: center;
  border: solid 1px black;
  width: 97vw;
  height: 100vh;
}

.product img{
    width:400px;
}

footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
}
